/* Color styles */
html {
  font-size: 10px;
}

body {
  color: #333;
}

header {
  position: fixed;
  background-color: #f6f5ef;
  border-bottom: 1px solid #c8c8c8;
  height: 120px;
  width: 100%;
  z-index: 9;
}

header .inner {
  height: 100%;
}

header .logo {
  position: absolute;
  min-width: 75px;
  height: 75px;
  top: 0;
  bottom: 0;
  margin: auto;
}

header .logo a {
  background-image: url("https://www.starbucks.co.kr/common/img/common/logo.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-color: transparent;
  display: block;
  overflow: hidden;
  text-indent: -9999px;
  width: 100%;
  height: 100%;
}

header .sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
}

header .sub-menu .menu__list {
  font-family: Arial, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .sub-menu .menu__list .menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .sub-menu .menu__list .menu__item a {
  font-size: 1.2rem;
  padding: 11px 16px;
  display: block;
  color: #656565;
}

header .sub-menu .menu__list .menu__item a:hover {
  text-decoration: underline;
}

header .sub-menu .menu__list .menu__item:not(:first-child)::before {
  content: '';
  display: block;
  width: 1px;
  height: 12px;
  background-color: #e5e5e5;
}

header .sub-menu .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header .sub-menu .search input[type="text"] {
  outline: none;
  background-color: #FFFFFF;
  width: 36px;
  height: 34px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1px 2px;
  color: #777;
  -webkit-transition: .4s;
  transition: .4s;
  font-size: 1.2rem;
  padding-left: 10px;
}

header .sub-menu .search input[type="text"]:focus {
  width: 190px;
  border-color: #669900;
}

header .sub-menu .search .material-icons {
  height: 24px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 5px;
  margin: auto;
  -webkit-transition: .4s;
  transition: .4s;
}

header .main-menu {
  position: absolute;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 66px;
  z-index: 1;
}

header .main-menu .item .item__name {
  font-family: Arial, sans-serif;
  font-size: 1.3rem;
  padding: 10px 20px 34px 20px;
}

header .main-menu .item:hover .item__name {
  background-color: #2C2A29;
  color: #669900;
  border-radius: 6px 6px 0 0;
}

header .main-menu .item:hover .item__content {
  display: block;
}

header .main-menu .item .item__content {
  position: fixed;
  width: 100%;
  right: 0;
  display: none;
}

header .main-menu .item .item__content .contents__menu {
  background-color: #2C2A29;
}

header .main-menu .item .item__content .contents__menu > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
}

header .main-menu .item .item__content .contents__menu > ul > li {
  width: 220px;
}

header .main-menu .item .item__content .contents__menu > ul > li li {
  padding: 5px 0;
  font-size: 1.2rem;
  color: #999;
  cursor: pointer;
}

header .main-menu .item .item__content .contents__menu > ul > li li:hover {
  color: #669900;
}

header .main-menu .item .item__content .contents__menu > ul h4 {
  padding: 3px 0 12px 0;
  font-size: 1.4rem;
  color: #FFFFFF;
}

header .main-menu .item .item__content .contents__texture {
  padding: 26px 0;
  font-size: 1.2rem;
  background: url("https://www.starbucks.co.kr/common/img/common/gnb_sub_txbg.jpg") repeat;
}

header .main-menu .item .item__content .contents__texture h4 {
  color: #999;
  font-weight: 700;
}

header .main-menu .item .item__content .contents__texture p {
  color: #669900;
  margin: 4px 0 14px;
}

header .badges {
  position: absolute;
  top: 132px;
  right: 12px;
}

header .badges .badge {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 12px;
  cursor: pointer;
}

header .badges .badge img {
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
          box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.15);
}

.visual {
  background-image: url("https://image.istarbucks.co.kr/upload/common/img/main/2022/2022_Summer1_main_bg.jpg");
  background-position: center;
  padding-top: 120px;
  position: relative;
}

.visual .fade-in {
  opacity: 0;
}

.visual .inner {
  height: 646px;
}

.visual .title {
  position: absolute;
  top: 7.1%;
  left: 44px;
}

.visual .title .btn {
  position: absolute;
  bottom: -39%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 3;
}

.visual .cup1.image {
  position: absolute;
  top: 11.8%;
  left: 35.7%;
  width: 48.7%;
  max-width: 548px;
}

.visual .cup2.image {
  position: absolute;
  top: 33.5%;
  left: 19.6%;
  width: 41.5%;
  max-width: 468px;
}

.visual .cup3.image {
  position: absolute;
  top: 15.6%;
  right: -8%;
  width: 26.9%;
  max-width: 302px;
}

.notice .notice-line {
  position: relative;
  height: 62px;
}

.notice .notice-line .bg-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: #111;
}

.notice .notice-line .bg-right {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  background-color: #f6f5ef;
}

.notice .notice-line .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.notice .notice-line .inner__left {
  color: #FFFFFF;
  padding: auto 40px;
  height: 100%;
  background-color: #111;
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.notice .notice-line .inner__left h2 {
  font-size: 1.7rem;
  font-weight: 700;
  margin-right: 20px;
  white-space: nowrap;
}

.notice .notice-line .inner__left img {
  width: 36px;
  height: 36px;
  margin-right: 20px;
}

.notice .notice-line .inner__left .swiper-container {
  height: 62px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  overflow: hidden;
}

.notice .notice-line .inner__left .swiper-container .swiper-slide {
  height: 62px;
  line-height: 4;
}

.notice .notice-line .inner__right {
  width: 45%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding-right: 20px;
}

.notice .notice-line .inner__right h2 {
  font-size: 1.7rem;
  font-weight: 700;
  padding-left: 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.notice .notice-line .inner__right .material-icons {
  font-size: 3.6rem;
}

.new-reward {
  padding-top: 30px;
  padding-bottom: 40px;
  background-color: #1e3932;
  color: #FFFFFF;
}

.new-reward .inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4.5fr;
      grid-template-columns: 1fr 4.5fr;
  grid-gap: 20px 30px;
}

.new-reward .inner .reword-logo {
  position: position;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  top: 0;
  bottom: 0;
  margin: auto;
}

.new-reward .inner .contents__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
  position: relative;
}

.new-reward .inner .contents__top .top__txt {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.new-reward .inner .contents__top .top__txt h2 {
  line-height: 1.4;
  margin-bottom: 12px;
  font-size: 2.6rem;
  display: inline-block;
}

.new-reward .inner .contents__top .top__txt h2 ~ span {
  line-height: 1.4;
  margin-bottom: 12px;
  font-size: 2.6rem;
  font-weight: 700;
  display: inline-block;
}

.new-reward .inner .contents__top .top__txt span {
  font-weight: 700;
}

.new-reward .inner .contents__top .top__btn {
  position: absolute;
  right: 0;
  bottom: 20px;
}

.new-reward .inner .contents__top .top__btn .btn {
  display: inline-block;
  padding: 5px;
}

.new-reward .inner .contents__top .top__btn .btn--white {
  width: 79px;
}

.new-reward .inner .contents__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.new-reward .inner .contents__bottom .bottom__txt {
  font-size: 1.4rem;
  line-height: 1.4;
}

.new-reward .inner .contents__bottom .bottom__txt span {
  font-weight: 700;
}

.new-reward .inner .contents__bottom .bottom__btn {
  position: absolute;
  right: 0;
  bottom: 10px;
}

.new-reward .inner .contents__bottom .bottom__btn .btn {
  width: 180px;
  padding: 6px;
}

.promotion {
  height: 572px;
  background: url("https://image.istarbucks.co.kr/upload/common/img/main/2022/2022_Summer1_bean_bg2.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

.promotion::before {
  content: '';
  height: 392px;
  width: 425px;
  display: block;
  position: absolute;
  top: 0;
  background: url("https://image.istarbucks.co.kr/upload/common/img/main/2022/2022_Summer1_bean_bg_left.png") left top/auto no-repeat;
}

.promotion::after {
  content: '';
  height: 360px;
  width: 482px;
  position: absolute;
  right: 0;
  bottom: 0;
  background: url("https://image.istarbucks.co.kr/upload/common/img/main/2022/2022_Summer1_bean_bg_right.png") right bottom/auto no-repeat;
}

.promotion .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promotion .btn {
  margin-top: 36px;
}

.promotion .promotion__txt {
  z-index: 2;
}

.reserve-coffee {
  position: relative;
  width: 100%;
  height: 400px;
  background: url(https://image.istarbucks.co.kr/img/event/2022/reserve_2022_indonesia_visual_bg.jpg) no-repeat center top;
  background-size: cover;
  overflow: hidden;
}

.reserve-coffee .inner {
  position: absolute;
  left: 0;
  right: 0;
  max-width: 100vw;
  height: 100%;
  margin: 0 auto;
}

.reserve-coffee .reserve__title {
  position: relative;
  padding-top: 115px;
  max-width: 1080px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.reserve-coffee .reverse__visual {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100%;
}

.reserve-coffee .reverse__visual .visual3 {
  position: absolute;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.reserve-coffee .reverse__visual::before {
  content: url(https://image.istarbucks.co.kr/upload/common/img/main/2022/reserve_2022_indonesia_leaf1.png);
  position: absolute;
  left: 0;
  bottom: -2%;
}

.reserve-coffee .reverse__visual::after {
  content: url(https://image.istarbucks.co.kr/upload/common/img/main/2022/reserve_2022_indonesia_leaf2.png);
  position: absolute;
  right: 0;
  bottom: -2%;
}

.reserve-coffee .btn-area {
  position: relative;
  z-index: 10;
  max-width: 1080px;
  margin-top: 39px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 254px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pick-your-favorite {
  position: relative;
  background: url(https://www.starbucks.co.kr/common/img/main/fav_prod_bg_new.jpg) center fixed no-repeat #45434c;
  background-size: auto 100%;
  height: 800px;
  padding: 0;
}

.pick-your-favorite .inner {
  padding: 110px 0;
}

.pick-your-favorite .text-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 362px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.pick-your-favorite .text-group .title {
  margin-bottom: 40px;
}

.pick-your-favorite .text-group .description {
  margin-bottom: 40px;
}

.pick-your-favorite .fav_img {
  position: absolute;
  top: 100px;
  right: -10px;
  width: 672px;
  height: 458px;
  background-image: url(https://image.istarbucks.co.kr/upload/common/img/main/2022/2022_Summer1_pick_img.png);
}

.reserve_magazine {
  background: url("https://image.istarbucks.co.kr/upload/common/img/main/2021/reserve_bg_pc.png") no-repeat center;
}

.reserve_magazine .inner {
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reserve_magazine .title {
  position: relative;
  margin-top: 135px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.reserve_magazine .title .btn {
  margin: 40px auto;
  position: absolute;
  left: 0;
  right: 0;
}

.find-store {
  position: relative;
  background: url("https://www.starbucks.co.kr/common/img/main/store_bg.jpg");
  overflow: hidden;
}

.find-store .inner {
  height: 400px;
}

.find-store .inner > img {
  position: absolute;
}

.find-store .store_exp_img01 {
  left: 245px;
  top: 149px;
  z-index: 2;
}

.find-store .store_exp_img02 {
  top: 0;
  left: 30px;
}

.find-store .store_exp_img03 {
  top: -60px;
  left: 430px;
}

.find-store .store_exp_img04 {
  right: -100px;
  top: 298px;
}

.find-store .text-group {
  position: absolute;
  top: 100px;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.find-store .text-group .description {
  margin: 15px 0;
}

.find-store .text-group .more {
  margin-top: 10px;
}

footer {
  background-color: #2C2A29;
  padding: 32px 0 35px 0;
}

footer .inner {
  width: 1200px;
}

footer .footer__menu {
  padding-right: 130px;
  color: #FFFFFF;
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer__menu::after {
  content: url("https://www.starbucks.co.kr/common/img/footer/footer_logo.png");
  position: absolute;
  right: -90px;
}

footer .footer__menu li {
  margin-bottom: 10px;
}

footer .footer__menu li.title {
  margin-bottom: 13px;
}

footer .footer__awards {
  height: 80px;
  margin-top: 40px;
  background-color: #282828;
}

footer .footer__awards ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer__awards ul li {
  padding: 20px 0;
  text-align: center;
}

footer .footer__notice {
  color: #ccc;
  margin-top: 30px;
  font-size: 1.2rem;
}

footer .footer__notice .menu {
  padding: 0 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer__notice .menu li {
  padding: 0 10px;
  white-space: nowrap;
  border-right: 1px solid;
}

footer .footer__notice .menu li:last-child {
  border: none;
}

footer .footer__notice .btn-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .footer__notice .btn-group .btn {
  width: 100px;
  font-size: 1.2rem;
  white-space: nowrap;
  color: #ccc;
  border-color: #ccc;
  margin: 10px 2px 0 3px;
}

footer .info {
  color: #999;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.4;
  font-family: var(--font-family);
}

img {
  display: block;
  width: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

a img {
  vertical-align: middle;
  color: inherit;
  text-decoration: none;
}

.inner {
  margin-right: auto;
  margin-left: auto;
  max-width: 1100px;
  position: relative;
}

/*BUTTON*/
.btn {
  width: 130px;
  padding: 8px;
  border: 2px solid #1e245c;
  border-radius: 4px;
  color: #1e245c;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  -webkit-transition: .4s;
  transition: .4s;
  z-index: 2;
}

.btn:hover {
  background-color: #1e245c;
  color: #FFF;
  text-decoration: underline;
}

.btn.btn--reverse {
  background-color: #333;
  color: #FFF;
}

.btn.btn--reverse:hover {
  background-color: transparent;
  color: #333;
}

.btn.btn--green:hover {
  color: #FFF;
  text-decoration: underline;
}

.btn.btn--green {
  color: #FFF;
  width: 92px;
  background-color: #00704a;
  border-color: #00704a;
}

.btn.btn--gold {
  color: #D9AA8A;
  border-color: #D9AA8A;
}

.btn.btn--gold:hover {
  color: #FFF;
  background-color: #D9AA8A;
  text-decoration: underline;
}

.btn.btn--white {
  color: #FFF;
  border-color: #FFF;
}

.btn.btn--white:hover {
  color: #333;
  background-color: #FFF;
}

.btn.btn--pink {
  color: #d73a7a;
  border-color: #d73a7a;
}

.btn.btn--pink:hover {
  color: #fff;
  background-color: #d73a7a;
  text-decoration: underline;
}

/*BACK TO POSITION*/
.back-to-position {
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
}

.back-to-position.to-right {
  -webkit-transform: translateX(-150px);
          transform: translateX(-150px);
}

.back-to-position.to-left {
  -webkit-transform: translateX(150px);
          transform: translateX(150px);
}

.show .back-to-position {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.show .back-to-position.delay-0 {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.show .back-to-position.delay-1 {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}

.show .back-to-position.delay-2 {
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}

.show .back-to-position.delay-3 {
  -webkit-transition-delay: .9s;
          transition-delay: .9s;
}
