.notice {
  .notice-line {
    position: relative;
    height: 62px;

    .bg-left {
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      background-color: $color-black-400;
    }

    .bg-right {
      position: absolute;
      top: 0;
      right: 0;
      width: 50%;
      height: 100%;
      background-color: $color-white-200;
    }

    .inner {
      display: flex;
      height: 100%;
    }

    .inner__left {
      font-size: 1.2rem;
      color: $color-white;
      background-color: $color-black-400;
      width: 55%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;

      h2 {
        font-size: 1.7rem;
        font-weight: 700;
        margin-right: 20px;
        white-space: nowrap;
      }
      img {
        width: 36px;
        height: 36px;
        margin-right: 20px;
      }

      .swiper-container {
        height: 62px;
        flex-grow: 1;
        overflow: hidden;
        .swiper-slide {
          height: 62px;
          line-height: 62px;
        }       
      }



    }
    .inner__right {
      width: 45%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-around;

      h2 {
        font-size: 1.7rem;
        font-weight: 700;
      }
      .material-icons {
        font-size: 3.6rem;
      }
    }
  }
}